body {font-size: 25px;  background-color: silver; font-family: sans-serif;}
input { text-align: center; font-family: monospace; font-size: 25px; border-radius: 25px; margin-right: 2%;}
label {font-size: 25px;}
select {font-size: 25px; border-radius: 25px; text-align: center; width: 15%;}
.shapes {font-size: 20px;}
.btn {font-size: 25px; width: 15%; border-radius: 25px; margin-right: 2%;}
.btn:hover {background-color: yellow; color: red;}
.output {color: red; font-family: monospace;}
